<?xml version="1.0"?>
<config>
    <modules>
        <Forsaaa_Reseller>
            <version>0.1.0</version>
        </Forsaaa_Reseller>
    </modules>
    <frontend>
        <routers>
            <reseller>
                <use>standard</use>
                <args>
                    <module>Forsaaa_Reseller</module>
                    <frontName>reseller</frontName>
                </args>
            </reseller>
        </routers>
        <layout>
            <updates>
                <reseller>
                    <file>forsaaa/reseller.xml</file>
                </reseller>
            </updates>
        </layout>
        <translate>
            <modules>
                <Forsaaa_Reseller>
                    <files>
                        <default>Forsaaa_Reseller.csv</default>
                    </files>
                </Forsaaa_Reseller>
            </modules>
        </translate>
    </frontend>
    <global>
        <page>
            <layouts>
                <reseller>
                    <label>Reseller</label>
                    <template>page/reseller-layout.phtml</template>
                </reseller>
            </layouts>
        </page>
        <blocks>
            <reseller>
                <class>Forsaaa_Reseller_Block</class>
            </reseller>
        </blocks>
        <helpers>
            <reseller>
                <class>Forsaaa_Reseller_Helper</class>
            </reseller>
        </helpers>
        <models>
            <reseller>
                <class>Forsaaa_Reseller_Model</class>
            </reseller>
        </models>
    </global>
</config>
